

.home{
    background-color: rgb(58, 129, 105);  
    padding: 10px ;
    border-radius: 3px;
    color: white;
    font-family:arial;
    
  }

.home:hover{
    background-color: rgb(24, 117, 86);
}
.enlace{
    font: size 20px;
    font-family:arial;

}

.texto{
    text-align: justify;
    font-family: arial;
}

.subtitulos{
    font-family: cambria;
}

iframe{
    width: 100%;
}

.caja{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    text-align: center;
}

.caja_informacion{
    color: white;
    background-color: rgb(252, 158, 18);
    padding-top: 6%;
}

.titulo_del_producto{
    background-color: rgb(253, 85, 7);
    display:inline;
    font-family:arial ;
    font-size: 80%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 22%;
    padding-right: 20%;
    
    
}

.imagen_producto{
    padding-top: 30%;
    
}

.precio_producto{
    font-size: 30px;
    font-family: helvetica;
    font-weight: bold;
}

.btn{
    background-color: rgba(3, 3, 3, 0.932);
    padding: 15px 20px;
    color: rgb(243, 243, 243);
    border-radius: 6px;
    border: 5px;
    position: relative;
    top: -15px;
}

.btn:hover{
    background-color: rgb(26, 112, 9);
}
